@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('http://fonts.cdnfonts.com/css/led-digital-7');
:root{
    --primary: #EF5350;
    --the--red: #FF3D00;
    --background: #232323;
    --gray--color:#E4E8EA;
    --btn-blue:#2AA9FE;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--primary);
    position: absolute;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.15rem;
    font-family: 'Pokemon Solid', sans-serif;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    background-color: ;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    padding: 30px 0 30px 0;
}
.title > img {
    position: relative;
    left: 5px;
    top: 10px;
    height: 100%;
}
#searchBox{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3%;
}
#results{
    background-color: green;
    display: flex;
    flex-direction:row;
    background-color: var(--gray--color);
    border-radius: 17px;
    width: 600px;

}

#results:first-child{
    
}
#stats-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;

}
    

.stats-box{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    width: 100%;
}
#results > img{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 8%;
    height: auto;
}
#pokemon-name{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1rem;
    left: 20%;
}
#pokemon-type{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 88%;
    right: 50%;
    width: 20%;
}

t:-webkit-autofill:focus */

#search{
    width: 500px;
    height: 48px;
    text-align: start;
    border: none;
    border-radius: .70rem;
    text-align: start;
    padding: .25rem;
    background-color: var(--background);
    color: var(--border--color);
    font-family: 'LED Digital 7', sans-serif;

    -webkit-text-fill-color: var(--gray--color);
    -webkit-box-shadow: 0 0 0 30px var(--background) inset !important;
}
#search:focus{
    outline: 1px solid var(--gray--color);
}
#search-btn{
    font-family: 'LED Digital 7', sans-serif;
    padding: 0.25rem;
    border: none;
    border-radius: .70rem;
    width: 90px;
    height: 48px;
    background-color: var(--btn-blue);
    
}
.swal2-confirm, swal2-styled{
    background-color: var(--btn-blue) !important;
}

progress{
    height: 20px;
}

span {
position: relative;
top: -26px;
width: 100%;
height: 30px;
text-align: center;
line-height: 30px;
font-size: 10px;
color: black;
}

